name: OneStopSalon CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Backend Image
        run: |
          docker build -t sarangraii/onestopsaloncicd-backend ./backend
          docker push sarangraii/onestopsaloncicd-backend

      - name: Build & Push Frontend Image
        run: |
          docker build -t sarangraii/onestopsaloncicd-frontend ./frontend
          docker push sarangraii/onestopsaloncicd-frontend
